[Unit]
Description=dofbot_oled start service
After=multi-user.target

[Service]
Type=idle
User=jetson
ExecStart=/bin/sh -c "python3 /home/jetson/Dofbot/2.sys_settings/1.OLED/oled.py"
WorkingDirectory=/home/jetson

[Install]
WantedBy=multi-user.target
